html{
    scroll-behavior: smooth;
    width: 100%;
  }

body {
    font-family: 'Raleway', sans-serif;
    background-color: #D9C5B4;
}

.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    opacity: 0;
    position: absolute;
    top: 40px;
    }
    
.skip{
    position: relative;
}
    
.skip a:focus{
    opacity: 1;
}

a {
    text-decoration:none;
 }

/* Header */

#myname {
    font-family: 'Playfair Display', serif;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 50px;
    color: #A62424;
}

/* Navigation */

.nav{
    border:1px solid #f1f1ef;
    background-color: #A68263;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav li{
    text-align: center;
}
.nav a{
    text-decoration: none;
    font-size: 1em;
    padding: 5px;
    color: white;
}

.nav a:hover {
  background-color: #D9C5B4;
  text-decoration-line: underline;
  color: black;
}

.nav .current {
    background-color: #D9C5B4;
    color: #590313;
    text-decoration-line: underline;
    border: 4px solid#A62424;
}

/* Home */

.mainsection {
    display: grid;
    grid-template-columns: auto;
}

.mainsection-item {
    padding: 10px;
    text-align: center;
}

.mainsection-item img {
    height: 50vh;
}

.mainsection-item p {
    font-size: 1em;
}

/* About */

.container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #D9C5B4;
    padding: 20px;
    justify-content: center;
    align-content: center;
  }
  
.container > .grid-item {
    text-align: center;
    padding: 10px;
    font-size: 10px;
}

.grid-item img {
    width: 40%;
    min-width: 100px;
    border: 10px solid #f1f1ef;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*Keyframes for animation*/

@-webkit-keyframes flying{
    0%   {left:-10vw; top:0px}
    100% {left:100vw; top:0px;}
}
  
@keyframes flying{
        0%   {left:-30vw; top:0px}
        100% {left:100vw; top:0px;}
} 
  
  #anim{
     padding: 10px;
     width: 100px;
     position: relative;
     animation-name: flying;
     animation-duration: 10s;
     animation-timing-function: linear;
     animation-iteration-count: 10;
  }

#des1 p {
    text-align: right;
    font-size: 15px;
    color: #34421e;
}

#des2 p {
    text-align: left;
    font-size: 15px;
    color: #34421e;
}

/* Photos */

.gallery {
    display: flex;
    background-color:#A68263;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

.gallery > .gallery-item {
    margin: 10px;
}

.gallery .gallery-item img {
    width: 200px;
    /* height: 200px; */
    border: 5px solid #fff;
}

.photos .phototext {
    text-align: center;
    font-size: 15px;
    padding: 10px;
}

/* Resume */

h2 {
    display: none;
}

.parallax {
    background-image: url("../images/background.jpg");
    min-height: 200px; 
  
    /* Parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .flip-card {
    margin: auto;
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card:focus .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #93BBBF;
    color: #590313;
    transform: rotateY(180deg);
  }

/* Connect */

#main-resume p {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #590313;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
input[type=submit] {
    background-color:#590313;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #93BBBF;
}

.contactform {
    border-radius: 5px;
    background-color: #93BBBF;
    width: 50vh;
    margin: auto;
    padding: 20px;
}

.contactinfo {
    padding: 30px;
}

/* Footer */

footer {
    border:1px solid #A68263;
    background-color: #A62424;
    border-width:1px 0;
}

footer p{
    color: white;
}

/* Media Queries */

/* Media Query for Tablets */

@media screen and (min-width: 800px){

    /* Home */
    #anim{
        padding: 10px;
        width: 150px;
        position: relative;
        animation-name: flying;
        animation-duration: 12s;
        animation-timing-function: linear;
        animation-iteration-count: 10;
    }

    #main-index{
         background-color:  #93BBBF;
    }

    #main p {
       color: black;
       text-align: center;
    }

    .mainsection-item img {
        height: 50vh;
        position: relative;
    }

    .mainsection-item p {
        margin-left: 50px;
        margin-right: 50px;
    }

    /* About */
    #des1 p {
        text-align: right;
        font-size: 30px;
        color: black;
        padding: 10px;
    }
    
    #des2 p {
        text-align: left;
        font-size: 30px;
        color: black;
        padding: 10px;
    }
    
    .grid-item img {
        width: 100%;
    }

    /* Connect */
    .contactform {
        width: 70vh;
    }
}

/* Media Query for Desktop/Laptop */

@media screen and (min-width: 1200px){
    /* Home */
    #anim{
        padding: 10px;
        width: 200px;
        position: relative;
        animation-name: flying;
        animation-duration: 14s;
        animation-timing-function: linear;
        animation-iteration-count: 10;
    }

    /* About */
    .container {
        grid-template-columns: auto;
        background-color: #93BBBF;
        padding-left: 200px;
        padding-right: 200px;
    }

    #des1 p {
        text-align: center;
        font-size: 20px;
    }
    
    #des2 p {
        text-align: left;
        font-size: 20px;
    }

    .grid-item img {
        max-width: 50vh;
    }

    #main-resume {
        background-color: #93BBBF
    }

    /* Connect */
    .contactform {
        background-color: #D9C5B4;
        width: 90%;
    }
}

@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto; /* Removes scroll animation */
    }
    
    .skip a{
      -webkit-transition: none; /* sets to default setting */
      transition: none;        /* sets to default setting */
     }
    
    /*Turn off parallax*/
    header{
      background-attachment: initial;
    }

    #anim{
        position: relative;
        animation-name: flying;
        animation: none;
        width: 200px;
        margin: auto;
     }

}
