body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    width: 50%;
}

#nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
#nav li{
    display:inline;
}
#nav a{
    display:inline-block;
    padding:10px;
}

/* Change the color of links on hover */
#nav a:hover {
  background-color: #ddd;
  color: black;
}
